html {
    background-image: url("https://images.unsplash.com/photo-1579492450119-80542d516179?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 130%;
    color: #000;
}
p {
    color: #000;
    font-family: Helvetica;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased; 
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #6a6540;
    border-bottom: 1px solid #6a6540;
}
#container {
    width: 30%;
    min-width: 360px;
    max-width: 450px;
    overflow: visible;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f2f0d1;
    padding: 50px;
    box-shadow: 12px 0 15px -4px rgb(132 132 132 / 80%), -12px 0 8px -4px rgb(130 130 130 / 80%);
}
#container p a {
    font-weight: bold;
}
@media only screen and (max-width: 600px), (max-height: 600px) {
  html {
  }
  h1 {
    font-size: 40px;
  }
  #contact a {
    color: #fff;
  }
  small {
    color: #fff;
  }
  small a {
    color: #fff;
  }
  #container {

  }
}
